@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
html, body {
  width: 100%;
  height: 100%;
  background: #e4e4e4;
}


.logo {
  filter: invert(100%);
  width: 40px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  color: #000000;
  font-size: 17px;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-links {
  margin-left: 40px;
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-cta{
  
}

.nav-cta .cta-icon {
  font-size: 25px;
}

.hero-section {
  position: absolute;
  width: 100%;
  min-height: 100vh; /* make room for hero content */
  overflow: hidden;
  background-color: rgb(76, 160, 160);
}

.hero-image {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: grayscale(100%);
  background-position: top
}

