* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
}

#box{
    width: 200px;
    height: 200px;
    background-color: rgb(75, 211, 188);
    margin: 50px;
}