@font-face {
    font-family: iphone;
    src: url(./sf-pro-display_regular.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'iphone', sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    margin: 0 auto; /* Centers the container horizontally */
    padding: 0 15px; /* Adds responsive padding on the left and right for smaller screens */
    
}

#nav {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: fixed;
    top: 0;
    /* transparent blur effect */
    opacity: 0.8;
    z-index: 100; /* to stay on top of other elements */
}

#nav h4 {
    font-size: 15px;
    font-weight: 400;
}

#minigap{
    height: 15px;
    background-color: rgb(255, 255, 255);
}

#center-1 {
    height: 63%;
    width: 100%;
    background-color: #f5f5f5;
    background-image: url(https://www.apple.com/v/home/ck/images/heroes/apple-fitness-plus-ny/hero_apple_fitness_plus_ny_enhanced__f51a4zjcir6u_small_2x.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 70px;;
    
}
#center-1 h1 {
    font-size: 40px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}
#center-1 h5 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 200;
    color: rgb(0, 0, 0);
}

#links {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#links button {
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 204, 255);
    padding: 15px 25px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
}

/* links first child in blue bg */
#links button:first-child {
    background-color: rgb(0, 151, 238);
    border: none;
}

#links button:nth-child(2) {
    color: rgb(0, 151, 238);
}

#links button:hover {
    cursor: pointer;
    background-color: rgb(0, 151, 238);
    color: rgb(255, 255, 255);
}

#center-2 {
    height: 65%;
    width: 100%;
    background-color: #f5f5f5;
    background-image: url(https://www.apple.com/v/home/ck/images/heroes/apple-watch-ny/hero_apple_watch_ny__c8f1tzaoa72a_largetall_2x.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 70px;;
    
}
#center-2 h1 {
    font-size: 40px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}
#center-2 h5 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 200;
    color: rgb(0, 0, 0);
}

#center-3 {
    height: 75%;
    width: 100%;
    background-color: #f5f5f5;
    background-image: url(https://www.apple.com/v/home/ck/images/heroes/iphone-family/hero_iphone_family__fuz5j2v5xx6y_mediumtall.jpg);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    text-align: center;
    padding: 70px;;
    
}
#center-3 h1 {
    font-size: 40px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}
#center-3 h5 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 200;
    color: rgb(0, 0, 0);
}


#cards #row-1, #row-2, #row-3 {
    /* using grid */
    display: grid;
    grid-template-columns: 6fr 6fr;
    height: 600px;
    width: 100%;
    gap: 15px;
}
#cards #center {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#cards h1 {
    font-size: 40px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}
#cards h5 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 200;
    color: rgb(0, 0, 0);
}

#cards #row-1 #left{
    background-color: #f5f5f5;
    background-image: url(https://www.apple.com/v/home/ck/images/promos/airpods-pro-3/promo_airpodspro_3__f6xmza7bglei_medium_2x.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;

}
#cards #row-1 #right{
    background-color: #f5f5f5;
    background-image: url(https://www.apple.com/v/home/ck/images/promos/ipad-air/promo_ipad_air_avail__6i02t7nujr62_medium_2x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

#cards #row-2 #left{
    background-color: #000000;
    background-image: url(https://www.apple.com/v/home/ck/images/promos/macbook-pro-m5/promo_macbook_pro_m5__gnwzdhijhm6a_medium_2x.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;

}
#cards #row-2 #left h1, #cards #row-2 #left h5 {
    color: #ffffff;
}

#cards #row-2 #right{
    background-color: #f5f5f5;
    background-image: url(https://www.apple.com/v/home/ck/images/promos/ipad/promo_ipad__fioegapg12qi_medium_2x.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

#cards #row-3 #left{
    background-color: #f5f5f5;
    background-image: url(https://www.apple.com/v/home/ck/images/promos/iphone-tradein/promo_iphone_tradein__bugw15ka691e_medium_2x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;

}
#cards #row-3 #right{
    background-color: #f5f5f5;
    background-image: url(https://www.apple.com/v/home/ck/images/promos/apple-card/promo_apple_card__5cm7draujpey_medium_2x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    /* zoom out the bg img */
    background-size: 70%;
}